img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/* ben noivo */
.brand-bn-nav {
  display: line-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url('./img/brand-bn-nav.svg');
  background-size: 30px 30px;
}

.brand-bn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-indent: -9999px;
  width: 130px;
  height: 130px;
  background: url('./img/brand-bn.svg');
  background-size: 130px 130px;
}

.brand-font {
  font-family: 'Sacramento', cursive;
}

.damion-font {
  font-family: 'Damion', cursive;
}

.cambo-font {
  font-family: 'Cambo', cursive;
}

.bg-pink-light {
  background-color: #EE4777!important;
}

.bg-pink-base {
  background-color: #EE2E5D!important;
}

hr.arabesco-light {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #ccc;
  color: #fff;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Cambo', cursive;
}

/* Social */
section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-instagram a {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

section.contact ul.list-social li.social-instagram a:hover {
  background: #dc2743;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-pinterest a {
  background-color: #dd4b39;
}

section.contact ul.list-social li.social-pinterest a:hover {
  background-color: #d73925;
}

.bg-social {
  background: #F8FAFC;
  background: -webkit-linear-gradient(#F8FAFC, #B8C2CC);
  background: linear-gradient(#DAEF8FAFC1E7, #B8C2CC);
}
/* Social fim */

/* footer */
footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}
/* footer fim */